@import url(../css/index.css);

.allbg {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  color: #3a867a;
  position: absolute;
  top: -7%;
  left: 42%;
}

.a-bg1 {
  width: auto;
  max-width: 1200px;
  position: absolute;
  top: 25%;
  left: 10%;
}

.a-bg2 {
  width: auto;
  max-width: 1200px;
  position: absolute;
  top: 25%;
  left: 40%;
}

.a-bg3 {
  width: auto;
  max-width: 1200px;
  position: absolute;
  top: 25%;
  left: 70%;
}

.a-bg4 {
  width: auto;
  max-width: 1200px;
  position: absolute;
  top: 100%;
  left: 10%;
}

.a-bg5 {
  width: auto;
  max-width: 1200px;
  position: absolute;
  top: 100%;
  left: 40%;
}

.a-bg6 {
  width: auto;
  max-width: 1200px;
  position: absolute;
  top: 100%;
  left: 70%;
}

.a-bg1,
.a-bg2,
.a-bg3,
.a-bg4,
.a-bg5,
.a-bg6 {
  border-radius: 25px;
  box-shadow: 10px 10px 15px 1px;
}
/*footer*/
footer {
  height: 100px;
  background-color: #dfe7fd;
  bottom: 0;
  width: 100%;
  margin-top: 1500px;
  text-align: center;
  font-size: 25px;
  font-family: Comic Sans MS;
  color: #128571;
}

/*footer*/

.bg1 {
  font-size: 40px;
  font-weight: 800;
  position: absolute;
  top: 720px;
  left: 320px;

}



.price1 {
  font-size: 25px;
  font-weight: 600;
  color: #3d7d8d;
  position: absolute;
  top: 790px;
  left: 345px;
}

.bg2 {
  font-size: 40px;
  font-weight: 800;
  position: absolute;
  top: 720px;
  left: 895px;
}

.price2 {
  font-size: 25px;
  font-weight: 600;
  color: #3d7d8d;
  position: absolute;
  top: 790px;
  left: 915px;
}

.bg3 {
  font-size: 40px;
  font-weight: 800;
  position: absolute;
  top: 720px;
  left: 1465px;
}

.price3 {
  font-size: 25px;
  font-weight: 600;
  color: #3d7d8d;
  position: absolute;
  top: 790px;
  left: 1490px;
}

.bg4 {
  font-size: 40px;
  font-weight: 800;
  position: absolute;
  top: 1370px;
  left: 290px;
}

.price4 {
  font-size: 25px;
  font-weight: 600;
  color: #3d7d8d;
  position: absolute;
  top: 1450px;
  left: 340px;
}

.bg5 {
  font-size: 40px;
  font-weight: 800;
  position: absolute;
  top: 1370px;
  left: 850px;
}

.price5 {
  font-size: 25px;
  font-weight: 600;
  color: #3d7d8d;
  position: absolute;
  top: 1450px;
  left: 905px;
}

.bg6 {
  font-size: 40px;
  font-weight: 800;
  position: absolute;
  top: 1370px;
  left: 1485px;
}

.price6 {
  font-size: 25px;
  font-weight: 600;
  color: #3d7d8d;
  position: absolute;
  top: 1450px;
  left: 1485px;
}

a {
  color: #3d7d8d;
}

.overlay1 {
  position: absolute;
  top: 237px;
  left: 190px;
  border-radius: 5%;
  height: 500px;
  width: 380px;
  opacity: 0;
  transition: 0s ease;
  background-color: #000000;
}

.overlay2 {
  position: absolute;
  top: 237px;
  left: 760px;
  border-radius: 5%;
  height: 500px;
  width: 380px;
  opacity: 0;
  transition: 0s ease;
  background-color: #000000;
}

.overlay3 {
  position: absolute;
  top: 237px;
  left: 1329px;
  border-radius: 5%;
  height: 500px;
  width: 380px;
  opacity: 0;
  transition: 0s ease;
  background-color: #000000;
}

.overlay4 {
  position: absolute;
  top: 896px;
  left: 190px;
  border-radius: 5%;
  height: 500px;
  width: 380px;
  opacity: 0;
  transition: 0s ease;
  background-color: #000000;
}

.overlay5 {
  position: absolute;
  top: 896px;
  left: 760px;
  border-radius: 5%;
  height: 500px;
  width: 380px;
  opacity: 0;
  transition: 0s ease;
  background-color: #000000;
}

.overlay6 {
  position: absolute;
  top: 896px;
  left: 1329px;
  border-radius: 5%;
  height: 500px;
  width: 380px;
  opacity: 0;
  transition: 0s ease;
  background-color: #000000;
}

.overlay1:hover {
  opacity: 0.5;
}

.overlay2:hover {
  opacity: 0.5;
}

.overlay3:hover {
  opacity: 0.5;
}

.overlay4:hover {
  opacity: 0.5;
}

.overlay5:hover {
  opacity: 0.5;
}

.overlay6:hover {
  opacity: 0.5;
}

.click {
  padding-top: 220px;
  font-size: 30px;
  color: white;
  font-weight: 500;
  text-align: center;
}