@import url(../css/index.css);
.step-title{
  position: absolute;
  top: 10%;
  left: 14%;
}
#cart {
  padding: 18%;
  font-size: 25px;
}

.cart-title,
.cart-text {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  height: 90px;
  background-color: #ddcba365;
  border-radius: 3px;
  padding: 20px;
}

.cart-title div,
.cart-text div {
  width: 250px;
  color: #454cb3;
  line-height: 50px;
}

.cart-title,
.cart-text,
.product {
  width: 90%;
}

.cart-text {
  margin-top: 20px;
  height: 200px;
  align-items: center;
}

.product img {
  width: 100px;
  height: 100px;
  border-radius: 3px;
  float: top;
}

.product {
  margin-left: 100px;
}

#quantity,
#quantity2,
#quantity3,
#quantity4,
#quantity5,
#quantity6 {
  width: 50px;
}

.s-total {
  padding: 10px 18px 10px 115px;
  font-size: 27px;
   font-family: Comic Sans MS,
   Comic Sans,
   cursive;
   color: #454cb3;
}
.cart-step1{
  padding: 20px 20px 20px 20px;
  position: absolute;
  top: 205%;
  right: 23%;
  font-size: 23px;
  font-family: Comic Sans MS,
  Comic Sans,
  cursive;
  color: #454cb3;
  background-color: #e2d16f7e;
  border:none;
  border-radius: 20px;
}

.cart-step1:hover{
  background-color: #b9d6d652;
}
/*footer*/
footer {
  height: 100px;
  background-color: #dfe7fd;
  bottom: 0;
  width: 100%;
  margin-top: -80px;
  text-align: center;
  font-size: 25px;
  font-family: Comic Sans MS,
  Comic Sans,
  cursive;
  color: #128571;
}

/*footer*/